// application variables

$font: 16px/20px Ubuntu, sans-serif;

$colorTextDark: #000;
$colorTextMain: #555;
//$colorTextMain: #bbb;
$colorTextHint: #bbb;
//$colorTextHint: #555;
$colorTextError: #f00;

$colorBackgroundMain: #fff;
//$colorBackgroundMain: #000;
$colorBackgroundShade: #fafafa;
//$colorBackgroundShade: #1a1a1a;
$colorBackgroundHover: #e3ecfd;

$colorBorder: #ddd;
$colorBorderActive: #bbb;
//$colorBorder: #333;

$colorLink: #7c94c1;

$mediaSmall: 320px;
$mediaNormal: 500px;

$headerHeight: 52px;
$footerHeight: 52px;
// $inputHeight: 36px;

$iconSizeSmall: 16px;
$iconSizeNormal: 32px;
$iconSizeLarge: 48px;

// $itemMargin: 10px;
// $itemHeight: 26px;

// $colorButton: #7c94c1;
// $colorButtonHover: #627598;

$paddingSmall: 5px;
$paddingNormal: 10px;
$paddingLarge: 15px;
$borderRadius: 3px;
