doctype html
html
    head
        title=package.name
        meta(charset="utf-8")
        meta(name="description" content=package.description)
        link(rel="icon" href="data:,")
        link(rel="stylesheet" href="main.css")

    body
        include ./pages/init.pug
        include ./pages/main.pug

        script(type="text/javascript", src="main.js")
